{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
         {% for product in products %}
         <div class="col-lg-4">
             <img class="thumbnail" src="{{product.imageURL}}">
             <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                 <hr>
                 <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">${{product.price|floatformat:2}}</h4>
             </div>
         </div>
         {% endfor %}
     </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getToken('csrftoken');
    var user = "{{ request.user.username }}";

    var updateBtns = document.getElementsByClassName('update-cart');

    for (var i = 0; i < updateBtns.length; i++) {
        updateBtns[i].addEventListener('click', function() {
            var productId = this.dataset.product;
            var action = this.dataset.action;
            console.log('productId:', productId, 'action:', action);

            console.log('USER:', user);
            if (user === 'AnonymousUser') {
                console.log('User is not authenticated');
            } else {
                updateUserOrder(productId, action);
            }
        });
    }

    function updateUserOrder(productId, action) {
        console.log('User is authenticated, sending data...');

        var url = '/update_item/';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'productId': productId, 'action': action })
        })
        .then((response) => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then((data) => {
            console.log('Data:', data);
            location.reload();
        })
        .catch((error) => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }
</script>
{% endblock %}
